.mainWrapper{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.popupWrapper{
    width: 800px;
    height: 200px;
    background-color: #fada5e;
    display: flex;
    border-radius: 20px;
    justify-content: flex-end;
    align-items: center;

} 
span {
    
        font-family: Arial;
        font-size: 30px;
        align-self: stretch;
        flex-grow: 1;
        text-align: center;
        line-height: 200px;
}

.butonek {
    align-self: flex-start;
    cursor: pointer;
}